[submodule "backend"]
	path = backend
	url = https://github.com/maewakka/pocket-money-guardian-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/maewakka/pocket-money-guardian-frontend.git
